
<div class="row columns text-right actions">
    <a ng-click="$ctrl.changeLocal()">change localization</a>
    <a class="type" ng-click="$ctrl.switchType()">
        <span ng-class="$ctrl.data.type == 'C' ? 'active' : '' ">°C</span>
        <span>/</span>
        <span ng-class="$ctrl.data.type == 'F' ? 'active' : '' ">°F</span>
    </a>
</div>

<div class="row columns text-center">
    <h2 ng-bind="$ctrl.data.name"></h2>
</div>

<div class="row pictures">
    <div class="small-6 small-push-3 columns">
        <div class="row">
            <app-thumb ng-repeat="v in $ctrl.views" active="$ctrl.data[v[0]]" src="'public/resources/' + v[1]" title="v[2]"></app-thumb> 
        </div>
    </div>
</div>

<div class="row column text-center numbers">
    <span>Temp</span>
    <span class="temp tempMin" ng-bind="$ctrl.data.tempMin"></span>
</div>
